[build]
     publish = "."
     ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF *.html *.csv"

   [[headers]]
     for = "/*.csv"
     [headers.values]
       Cache-Control = "public, max-age=0, must-revalidate"
       
   [[headers]]
     for = "/*.html"
     [headers.values]
       Cache-Control = "public, max-age=0, must-revalidate"

   [[headers]]
     for = "/*"
     [headers.values]
       X-Frame-Options = "DENY"
       X-Content-Type-Options = "nosniff"
       Referrer-Policy = "no-referrer-when-downgrade"
